
.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

/*desabilitando as setas do carrossel*/
.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

@media screen and (min-width: 1024px) {
    .swiper{
        margin: 0 8em;
    }

    .swiper-button-prev,.swiper-button-next{
        display: inline;
        margin-top: 15px;
    }

    .carrossel__titulo{
        padding: 1.5em 0;
        font-size: 26px;
    }

    .swiper-pagination{
        margin: 2em 0;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 0 4vw 2em 4vw;
        align-items: center;
    }

    .swiper-button-prev,.swiper-button-next{
        margin-top: 0px;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 50%;
    }

}